<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"></meta>
<title>wiki</title>
<!-- simplemde插件将autoDownloadFontAwesome置为false，样式从本地加载 begin -->
<link rel="stylesheet" href="/font-awesome/4.7/css/font-awesome.min.css"/>
<link rel="stylesheet" href="/font-awesome/4.7/fonts/fontawesome-webfont.woff2"/>
<!-- simplemde插件将autoDownloadFontAwesome置为false，样式从本地加载 end -->

<!-- 引入simplemde插件 -->
<link rel="stylesheet" href="/simplemde/dist/simplemde.min.css"/>
<script src="/simplemde/dist/simplemde.min.js"></script>

<style>
	body {
		width: 50em;
		margin: 0 auto;
		font-family: Tahoma, Verdana, Arial, sans-serif;
	}
</style>
</head>
<body>
	<form th:action="@{/article/input}" onSubmit="return checkContent()">
		<table width="100%">
			<tr>
				<td width="85%">
					<input type="text" name="title" th:value="${title}"  style="width:100%"/>
				</td>
				<td width="15%" align="middle">
					<input type="button" value="Edit" style="width:90%"/>
				</td>
			</tr>
		</table>
		<table width="100%">
			<tr>
				<td>作者</td>
				<td>
					<input type="text" name="author" th:value="${author}"/>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<textarea id="simplemde" name="content" th:text="${content}"></textarea>
				</td>
			</tr>
			<tr>
				<td colspan="2" align="right">
					<input type="submit" value="Save"/>
				</td>
			</tr>
			
		</table>
	</form>
</body>
<script>
// 关于simplemde插件的定制化配置，可以在https://github.com/sparksuite/simplemde-markdown-editor查看详细介绍
var simplemde = new SimpleMDE({
								// autoDownloadFontAwesome: If set to true, force downloads Font Awesome (used for icons). If set to false, prevents downloading. 
								// Defaults to undefined, which will intelligently check whether Font Awesome has already been included, then download accordingly.
								autoDownloadFontAwesome: false,
								// spellChecker: If set to false, disable the spell checker. Defaults to true
								spellChecker: false,    //置为false，不会从cdn.jsdelivr.net下载资源
								element: document.getElementById("simplemde")
								});


function checkContent(){
	var content = simplemde.value();
	//set value
	//simplemde.value("This text will appear in the editor");
	alert(content);
	return true;
}

</script>
</html>