<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 指定dao -->
<mapper namespace="com.cowork.wiki.mapper.ArticleMapper">

	<insert id="insertArticle" parameterType="com.cowork.wiki.model.Article">
    	insert into t_article 
    	(title, content, author, validStatus, insertTime, updateTime) 
    	values 
    	(#{title}, #{content}, #{author}, #{validStatus}, #{insertTime}, #{updateTime})
    </insert>
    
    <select id="findArticleById" parameterType="String" resultType="com.cowork.wiki.model.Article">
        SELECT * FROM t_article WHERE id = #{id}
    </select>
    
	<select id="countArticlesByCondition" parameterType="String" resultType="long">
        SELECT count(*) FROM image_main
        <trim prefix="where" prefixOverrides="and|or"> 
    		<if test="title != null and title != ''">
    			title like #{title}
    		</if>
    		<if test="author != null and author != ''">
    			and author like #{author}
    		</if>
    		<if test="validStatus != null and validStatus != ''">
    			and validStatus = #{validStatus}
    		</if>
    		
    	</trim>
    </select>
    
    <select id="findArticlesByCondition" parameterType="java.util.Map"  resultType="com.cowork.wiki.model.Article">
    	select * from t_article
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="title != null and title != ''">
    			title like #{title}
    		</if>
    		<if test="author != null and author != ''">
    			and author like #{author}
    		</if>
    		<if test="validStatus != null and validStatus != ''">
    			and validStatus = #{validStatus}
    		</if>
    		
    	</trim>
    	order by updateTime desc
    	limit #{pageSize} OFFSET #{offset}
    </select>
    
    <update id="updateArticle" parameterType="com.cowork.wiki.model.Article">
    	update t_article set title=#{title}, content=#{content}, author=#{author}, validStatus=#{validStatus}, updateTime=#{updateTime}
    	where id=#{id}
    </update>
    
    <update id="updateArticleFieldsById" parameterType="java.util.Map">
    	update t_article set updateTime=#{updateTime}
    	    <if test="title != null and title != ''">
    			, title=#{title}
    		</if>
    		<if test="author != null and author != ''">
    			, author=#{author}
    		</if>
    		<if test="validStatus != null and validStatus != ''">
    			, validStatus=#{validStatus}
    		</if>
    	where id=#{id}
    </update>
</mapper>